<h3>Genres</h3>
<div class="row">
  <% @genres.each_with_index do |genre,index| %>
    <div class="col-xs-4">
      <button class="btn-default" type="button">
        <p><h2> <%=link_to genre.name, genre_path(genre) %> </h2></p>
    </button></div>
  <% end %>
</div>
