<div class="row">
  <h3><%= @genre.name %> Movies</h3>
  <% @genre.movies.each_with_index do |m,i| %>
    <div class="col-xs-3">
      <%= image_tag(m.cover,size: "180x320") %>
      <p><h5> <%= link_to(m.title,movie_path(m.id)) %>
      </p></h5>
    </div>
  <% end %>
</div>
