<p id="notice"><%= notice %></p>

<h1>
<%= @person.full_name %>
</h1>

<%= image_tag(@person.photo) %>

<h2>
	Filmography
</h2>
<% @person.movies.each do |movie| %>
<%= link_to movie.title, movie_path(movie) %>
<br>
<% end %>